@(title: String)(include : Html)(content : Html)(scripts : Html)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" content="keywords">
        <meta name="description" content="description">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <title>@title</title>

        <!--css-->
        <link href="@routes.Assets.versioned("layui/css/layui.css")" rel="stylesheet">
        <!--js-->
        <script src="@routes.Assets.versioned("js/jquery-1.9.1.min.js")"></script>
        <script src="@routes.Assets.versioned("js/jquery.cookie.js")"></script>
        <script src="@routes.Assets.versioned("layui/layui.all.js")"></script>

        @include
    </head>
    <body>
        @content

        @scripts
    </body>
</html>


